ALTER TABLE vehiculos ADD COLUMN IF NOT EXISTS fotos text[] DEFAULT '{}'; ALTER TABLE presupuestos ADD COLUMN IF NOT EXISTS fotos text[] DEFAULT '{}'; ALTER TABLE citas ADD COLUMN IF NOT EXISTS fotos text[] DEFAULT '{}';
